@use 'sass:color';

@mixin stripes($colors, $scaleLightness) {
    $stops: to right,;

    @for $n from 0 to length($colors) {
        $color: nth($colors, $n + 1);
        $start: 100% / length($colors) * $n;
        $stop: 100% / length($colors) * ($n + 1);
        $stops: append(
            $stops,
            color.scale($color, $lightness: $scaleLightness) $start $stop);
    }

    background-image: linear-gradient($stops);
}
