@import '_fonts';

// Reset / Normalize
* {
    font: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #d3227b;
    --accent-color-translucent: #d3227bcc;
    --bg-0: #f2f2f2;
    --highlight-bg: rgba(0, 0, 0, 2.5%);
    --content-padding: 20px;
    --content-max-width: 700px;
    --border-color: #f2f2f2;
    --code-block-border-radius: .5rem;
    --inter-section-gap: 2rem;

    @media (prefers-color-scheme: dark) {
        --accent-color: #ec68aa;
        --bg-0: rgba(255, 255, 255, 5%);
        --highlight-bg: rgba(255, 255, 255, 6%);
        --border-color: rgba(255, 255, 255, 10%);
    }
}

:root {
    font-family: 'Inter', sans-serif;
    color-scheme: light dark;
    scroll-behavior: smooth;
    line-height: 1.4;

    @media (prefers-color-scheme: dark) {
        background-color: #121212;
    }
}

::selection {
    color: #fff;
    background-color: var(--accent-color-translucent);
}

// Headings create a new "section" so we want space between the sections
h1, h2, h3 {
    margin-top: var(--inter-section-gap);
}

h1, h2, h3 {
    font-weight: 800;
}

// Block level elements get spacing afterwards
h1, h2, h3, p, ul, ol, pre, blockquote, details {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    font-family: 'Vollkorn', serif;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

header {
    margin-top: 3rem;
    margin-bottom: var(--inter-section-gap);

    h1 {
        margin-bottom: .5rem;
    }

    // In an article header, the p acts as the lead text
    p {
        font-size: 1.3rem;
    }
}

a {
    color: var(--accent-color);
    font-weight: 500;
    text-decoration: none;
}

:is(h1, h2, h3) a {
    font-weight: inherit;
}

a:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
}

strong {
    font-weight: 700;
}

strong.emoji {
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--highlight-bg);
    width: 3rem;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

em {
    font-style: italic;
}

sup {
    font-variant-position: super;
}

sub {
    font-variant-position: sub;
}

ul, ol {
    list-style-position: inside;
    padding: 0;
}

// Nested lists need to be indented
:is(ul, ol) :is(ul, ol) {
    padding-left: 1em;
    margin-bottom: 0;
}

blockquote {
    border-left: 3px solid var(--border-color);
    padding-left: 1rem;
}

code {
    background-color: var(--bg-0);
    border-radius: 0.1em 0.2em;
    padding: 0 0.25em;
    font-family: 'Jetbrains Mono', ui-monospace, monospace;
}

pre code,
:is(h1, h2, h3) code {
    background-color: transparent;
    padding: 0;
}

pre {
    border-radius: var(--code-block-border-radius);
    padding: var(--content-padding);
    overflow: auto;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--border-color);
    padding: 6px 12px;
}

th {
    font-weight: 700;
}

tr:nth-child(2n) td {
    background-color: var(--highlight-bg);
}

// The quote author is typically specified using an unordered list with a single element.
blockquote + ul li:only-child {
    // See: https://english.stackexchange.com/a/59320
    list-style-type: "―";
}

body {
    display: grid;
    grid-template-columns: minmax(0, var(--content-max-width));
    justify-content: center;
}

main {
    margin-trim: all;
    padding: 0 var(--content-padding) var(--content-padding) var(--content-padding);
}

nav {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 0 var(--content-padding);

    @media print {
        display: none;
    }
}

.card-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--content-padding);

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.card-list > li {
    border: 1px solid var(--border-color);
    border-radius: .5em;
    padding: var(--content-padding);
}

.card-list > li > :first-child {
    margin-top: 0;
}

.footnote-definition {
    &::before {
        content: '';
        border-top: 2px solid var(--border-color);
        display: block;
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    & > sup {
        float: left;
        margin-right: .5em;
    }
}

// Only show divider for first footnote
.footnote-definition + .footnote-definition {
    &::before {
        content: none;
    }
}

details[open] summary {
    margin-bottom: .5em;
}

.list-item > .meta > .author {
    font-weight: 700;
}

// TODO: Use figure:has(pre > code) once :has() is supported in Firefox
figure.code-figure {
    position: relative;

    figcaption {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .1);
        padding: .2em .4em;
        border-bottom-right-radius: .4em;
        border-top-left-radius: var(--code-block-border-radius);
        font-size: .75rem;
    }

    pre {
        padding-top: calc(var(--content-padding) + .75rem);
    }
}

// The reduction type (β or δ) after the arrow ->> should be subscript
.z-reduction-type {
    font-variant-position: sub;
}
