@import '_fonts';

// Reset / Normalize
* {
    font: inherit;
    color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #000;
    --accent-color: #40a02b;
    --link-color: #3765B2;
    --background-color: #fff8f1;
    --background-color-1: #fff;
    --bg-0: #f2f2f2;
    --highlight-bg: rgba(0, 0, 0, 2.5%);
    --content-padding: 20px;
    --content-max-width: 43.75rem;
    --border-color: #e7e1da;
    --text-on-border-color: var(--text-color);
    --code-block-border-radius: .5rem;
    --inter-section-gap: 2rem;

    @media (prefers-contrast: more) {
        --border-color: #373737;
        --text-on-border-color: #fff;
    }

    @media (prefers-color-scheme: dark) {
        --text-color: #fff;
        --link-color: rgb(117, 151, 211);
        --background-color: #121212;
        --background-color-1: #000;
        --bg-0: rgba(255, 255, 255, 5%);
        --highlight-bg: rgba(255, 255, 255, 6%);
        --border-color: #2a2a2a;
    }

    @media (prefers-color-scheme: dark) and (prefers-contrast: more) {
        --border-color: #fff;
        --text-on-border-color: #000;
    }
}

:root {
    --sans-serif: 'Inter', sans-serif;
    --serif: 'Vollkorn', serif;
}

:root {
    font-family: var(--serif);
    color-scheme: light dark;
    line-height: 1.4;
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: none; // Stop iOS Safari from adjusting the font size in landscape.
    font-size: 1.125em;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

::selection {
    color: color-mix(in oklch, var(--accent-color), #000 80%);
    background-color: color-mix(in oklch, var(--accent-color), #fff 70%);

    @media (prefers-color-scheme: dark) {
        color: color-mix(in oklch, var(--accent-color), #fff 90%);
        background-color: color-mix(in oklch, var(--accent-color), #000 40%);
    }
}

// Headings create a new "section" so we want space between the sections
// ... but not between a section and a direct subsection
:is(h1, h2, h3):not(:is(h1 + h2, h2 + h3)) {
    margin-top: var(--inter-section-gap);
}

h1, h2, h3 {
    font-family: var(--sans-serif);
    font-weight: 800;
}

// Block level elements get spacing afterwards
h1, h2, h3, p, ul, ol, pre, blockquote, details {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    line-height: 1.4;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    margin-top: 3rem;
    margin-bottom: var(--inter-section-gap);

    h1 {
        margin-bottom: .5rem;
    }

    // In an article header, the p acts as the lead text
    p {
        font-family: var(--sans-serif);
        font-size: 1.3rem;
    }
}

a {
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;

    &:hover,
    &.-current {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}

:is(h1, h2, h3) a {
    font-weight: inherit;

    &:hover {
        text-decoration-thickness: 4px;
        text-underline-offset: .3em;
    }
}

strong {
    font-weight: 700;
}

.badge {
    font-size: .7rem;
    padding: 4px 1.5ch;
    border-radius: 1em;
    margin-right: 1ch;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-family: var(--sans-serif);
}

.badge,
.badge + span {
    vertical-align: middle;
}

em {
    font-style: italic;
}

sup {
    font-variant-position: super;
}

sub {
    font-variant-position: sub;
}

del {
    text-decoration-thickness: .1em;
}

ul, ol {
    list-style-position: inside;
    padding: 0;
}

hr {
    margin: var(--inter-section-gap) 0;
    text-align: center;

    &::before {
        content: '';
        display: inline-block;
        width: 3rem;
        height: 1.5rem;
        background-color: currentColor;
        -webkit-mask-image: url(/fleuron.svg);
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-image: url(/fleuron.svg);
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
    }
}

// Nested lists need to be indented
:is(ul, ol) :is(ul, ol) {
    padding-left: 1em;
    margin-bottom: 0;
}

blockquote {
    border-left: 3px solid var(--border-color);
    padding-left: 1rem;
}

code {
    background-color: var(--bg-0);
    border-radius: 0.1em 0.2em;
    padding: 0 0.25em;
    font-family: 'Jetbrains Mono', ui-monospace, monospace;
    font-size: 0.8em; // Jetbrains Mono appears bit bigger than Vollkorn
}

pre code,
:is(h1, h2, h3) code {
    background-color: transparent;
    padding: 0;
}

pre {
    border-radius: var(--code-block-border-radius);
    padding: var(--content-padding);
    overflow: auto;
    background-color: var(--background-color-1) !important; // Needs to win against the syntax theme
    border: 2px solid var(--border-color);
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--border-color);
    padding: 6px 12px;
}

th {
    font-weight: 700;
}

tr:nth-child(2n) td {
    background-color: var(--highlight-bg);
}

// The quote author is typically specified using an unordered list with a single element.
blockquote + ul li:only-child {
    // See: https://english.stackexchange.com/a/59320
    list-style-type: "―";
}

body {
    display: grid;
    grid-template-columns: minmax(0, var(--content-max-width));
    align-content: start;
    justify-content: center;
}

main {
    margin-trim: all;
    padding: 0 var(--content-padding) var(--content-padding) var(--content-padding);
}

nav {
    margin-top: 40px;
    display: grid;
    grid-auto-flow: column;
    gap: 0.625rem 1.25rem;
    padding: 0 var(--content-padding);

    > .item.-prev { justify-self: start; }
    > .item.-next { justify-self: end; }

    @media print {
        display: none;
    }
}

.footnote-definition {
    &::before {
        content: '';
        border-top: 2px solid var(--border-color);
        display: block;
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    & > sup {
        float: left;
        margin-right: .5em;
    }
}

// Only show divider for first footnote
.footnote-definition + .footnote-definition {
    &::before {
        content: none;
    }
}

details[open] summary {
    margin-bottom: .5em;
}

.list-item > .meta > .author {
    font-weight: 700;
}

figure:has(pre > code) {
    position: relative;

    figcaption {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--text-on-border-color);
        background-color: var(--border-color);
        padding: .4em .8em;
        border-bottom-right-radius: .4em;
        border-top-left-radius: var(--code-block-border-radius);
        font-size: .75rem;
    }

    pre {
        padding-top: calc(var(--content-padding) + .75rem);
    }
}

figure:has(img) {
    display: grid;
    grid-template-columns: max-content;
    grid-gap: 1rem;
    
    figcaption {
        font-size: .8rem;
        text-align: center;
    }
}

.skip-link {
    --skip-link-offset: 20px;
    position: fixed;
    top: var(--skip-link-offset);
    left: var(--skip-link-offset);
    z-index: 1000;
    font-size: .875rem;
    font-family: var(--sans-serif);
    font-weight: bold;
    background-color: var(--accent-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;

    &:not(:focus) {
        transform: translateY(calc(-100% - var(--skip-link-offset)));
    }
}

// The reduction type (β or δ) after the arrow ->> should be subscript
.z-reduction-type {
    font-variant-position: sub;
}
