.project-box {
  display: flex;
  align-items: center;

  > .preview {
    @extend %content-element;
    padding: 3rem 4rem;
    font-size: 2em;
    font-weight: 300;
    background-color: #efefef;
  }

  > .text {
    max-width: 22rem;
  }

  &.-ganked > .preview {
    background-color: #48b0e4;
    color: #fff;
  }
}