<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome only picks the SVG over the PNG icon if it has sizes=any -->
    <link rel="icon" sizes="any" href="{{ get_url(path="favicon.svg") }}" type="image/svg+xml">
    <!-- Firefox only picks the SVG over the PNG icon if its size >= the size of the PNG -->
    <link rel="icon" sizes="512x512" href="{{ get_url(path="favicon.svg") }}" type="image/svg+xml">
    <link rel="icon" sizes="192x192" href="{{ get_url(path="favicon-192x192.png") }}" type="image/png">
    <link rel="icon" sizes="512x512" href="{{ get_url(path="favicon-512x512.png") }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ get_url(path="apple-touch-icon.png") }}">
    <link rel="mask-icon" href="{{ get_url(path="mask-icon.svg") }}" color="#ec68aa">
    <link rel="me" href="https://hachyderm.io/@tautropfli">
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    {% if config.extra.author %}
    <meta name="author" content="{{ config.extra.author }}">
    {% endif %}
    {% block metadata %}{% endblock metadata %}
    <title>{% block title %}{% if page %}{{page.title}}{% elif section %}{{section.title}}{% else %}{{config.title}}{% endif %}{% endblock title %}</title>

    <link rel="preload" as="font" href="{{ get_url(path="fonts/vollkorn/Vollkorn-ExtraBold.woff2") }}" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ get_url(path="fonts/inter/Inter.woff2") }}?v=3.19" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="main.css") }}" crossorigin="anonymous">

    {# Syntax Theme #}
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="syntax-theme-dark.css") }}" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="syntax-theme-light.css") }}" media="(prefers-color-scheme: light)">

    {# RSS #}
    {% for feed in config.extra.rss_feeds %}
    <link rel="alternate" type="application/atom+xml" title="{{feed.name}}" href="{{ get_url(path=feed.url, trailing_slash=false) }}">
    {% endfor %}
</head>
<body>
    <a href="#main" tabindex="0" class="skip-link">Skip to content</a>

    <nav>
        {% for menu in config.extra.menu %}
            <a href={{ menu.url }}>{{ menu.name }}</a>
        {% endfor %}
    </nav>
    <main id="main">
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}
    </main>

    <script data-goatcounter="https://bash.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
        </script>
    <script type="text/javascript" id="MathJax-script" defer src="{{ get_url(path="mathjax/tex-mml-chtml.js") }}"></script>
</body>
</html>
