<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#40a02b">
    <!-- Chrome only picks the SVG over the PNG icon if it has sizes=any -->
    <link rel="icon" sizes="any" href="{{ get_url(path="favicon.svg") }}" type="image/svg+xml">
    <!-- Firefox only picks the SVG over the PNG icon if its size >= the size of the PNG -->
    <link rel="icon" sizes="512x512" href="{{ get_url(path="favicon.svg") }}" type="image/svg+xml">
    <link rel="icon" sizes="192x192" href="{{ get_url(path="favicon-192x192.png") }}" type="image/png">
    <link rel="icon" sizes="512x512" href="{{ get_url(path="favicon-512x512.png") }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ get_url(path="apple-touch-icon.png") }}">
    <link rel="mask-icon" href="{{ get_url(path="mask-icon.svg") }}" color="#ec68aa">
    <link rel="me" href="{{ config.extra.meta.me }}">
    <meta name="fediverse:creator" content="{{ config.extra.meta.me }}" />
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    {% if config.extra.author %}
    <meta name="author" content="{{ config.extra.author }}">
    {% endif %}
    {% block metadata %}{% endblock metadata %}
    <title>{% block title %}{% if page %}{{page.title}}{% elif section %}{{section.title}}{% else %}{{config.title}}{% endif %}{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="{{ get_url(path="main.css", cachebust = true) }}" crossorigin="anonymous">

    {# Syntax Theme #}
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="syntax-theme-dark.css") }}" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="syntax-theme-light.css") }}" media="(prefers-color-scheme: light)">

    {# KaTeX #}
    <link rel="stylesheet" href="{{ get_url(path="katex/katex.min.css")}}">

    {# RSS #}
    {% for feed in config.extra.feeds %}
        {% set section = get_section(path=feed, metadata_only=true) %}
        {% if not section.generate_feeds %}
            {{ throw(message="Section '" ~ section.path ~ "' doesn't have feeds enabled") }}
        {% endif %}
        {% for filename in config.feed_filenames %}
            <link rel="alternate" type="application/atom+xml"
                  title="{{section.title}}"
                  href="{{ get_url(path=section.path ~ filename, trailing_slash=false) }}">
        {% endfor %}
    {% endfor %}
</head>
<body>
    <a href="#main" tabindex="0" class="skip-link">Skip to content</a>

    <nav>
        {% for menu in config.extra.menu %}
            {% if current_path %}
                {% set current = menu.url == current_path or current_path is starting_with(menu.url ~ '/') %}
            {% endif %}
            <a href={{ menu.url }} {% if current %}class="-current" aria-current="page" {% endif %}>{{ menu.name }}</a>
        {% endfor %}
    </nav>
    <main id="main">
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}
    </main>
    <footer role="contentinfo">
        <div class="footer-content">
            a website by <a href="/">Tau</a>
        </div>
    </footer>
    <script type="module">
        import renderMathInElement from '{{ get_url(path="katex/contrib/auto-render.mjs") }}';
        renderMathInElement(document.body, {
            delimiters: [
                { left: '$$', right: '$$', display: true },
                { left: '$', right: '$', display: false },
            ]
        })
    </script>
</body>
</html>
