{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block description %}{{page.description}}{% endblock description %}

{%block metadata %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{page.title}}" />
{% if page.description %}
<meta property="og:description" content="{{page.description}}" />
{% endif %}
{% endblock metadata %}

{% block main_content %}
{{macros::header(section_or_page=page)}}

{% if page.extra.link_to %}
See <a href="{{page.extra.link_to}}">{{page.extra.link_to}}</a>.
{% endif %}
{{page.content | safe}}

{% block extra_main_content %}
{% endblock extra_main_content %}
{% endblock main_content %}
