{% extends "base.html" %}
{% block title %}{{section.title}}{% endblock title %}
{% block main_content %}
<header>
    <h1>{{section.title}}</h1>
</header>
{{section.content | safe}}

{%- if paginator %}
    {%- set show_pages = paginator.pages -%}
{% else %}
    {%- set show_pages = section.pages -%}
{% endif -%}

<ul>
    {% for page in show_pages %}
        <section class="list-item">
            <h2 class="title">
                {% if page.draft %}DRAFT{% endif %}
                <a href={{ page.permalink }}>{{page.title}}</a>
            </h2>

            <p class="description">
                {% if page.description %}
                    {{ page.description }}
                {% elif page.summary %}
                    {{ page.summary | safe }}&hellip;
                {% endif %}
            </p>

            <div class="meta">
                {% set author = page.authors | first() %}
                {% if author %}
                    <span class="author">{{author}}</span>
                {% endif %}

                {%- if page.date %}
                    posted on <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                {% endif -%}
            </div>
        </section>

    {% endfor %}
</ul>
{% endblock main_content %}
