{% extends "base.html" %}
{% block title %}{{section.title}}{% endblock title %}
{% block main_content %}
<h1>{{section.title}}</h1>
{{section.content | safe}}

{%- if paginator %}
    {%- set show_pages = paginator.pages -%}
{% else %}
    {%- set show_pages = section.pages -%}
{% endif -%}

<ul>
    {% for page in show_pages %}
        <section class="list-item">
            <h2 class="title">
                {% if page.draft %}DRAFT{% endif %}
                <a href={{ page.permalink }}>{{page.title}}</a>
            </h2>

            <div class="meta">
                {%- if page.date %}
                    <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                {% endif -%}
            </div>

            <div class="description">
                {% if page.description %}
                    {{ page.description }}
                {% elif page.summary %}
                    {{ page.summary | safe }}&hellip;
                {% else %}
                    {% set hide_read_more = true %}
                {% endif %}
            </div>
        </section>

    {% endfor %}
</ul>
{% endblock main_content %}
