body {
  font-family: 'Raleway', sans-serif;
}

._margin-bottom-s {
  margin-bottom: 1rem;
}

h1, h2, p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1, h2 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

a {
  color: @color-pink;
  text-decoration: none;
  transition: color .125s;

  &:hover {
    color: lighten(@color-pink, 10%);
  }

  &:active {
    color: darken(@color-pink, 10%);
  }
}
