.landing-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > .avatar {
    flex-shrink: 0;
  }

  > .avatar > .image {
    border-radius: 100%;
    width: 128px;
    height: 128px;
  }

  > .avatar,
  > .content {
    padding: 8px 16px;
    max-width: 100%;
  }
}
